.list_title {
  font-weight: 600;
  padding: 20px 20px 10px;
  font-size: 1.5rem !important;
}

.list,
.grid {
  padding: 0;
  list-style: none;
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
}

.list li {
  width: 100%;
  border-radius: 10px;
  margin: 5px;
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.6);
  background-color: var(--background-color);
  color: var(--medium-color-shade);
  transition: color 0.2s ease-out;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.grid li {
  padding: 20px 0;
  width: calc(33.33% - 10px);
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 5px;
  background-color: var(--background-color);
  color: var(--medium-color-shade);
  transition: color 0.2s ease-out;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.grid li:hover {
  color: var(--text-color);
}

.empty_box.flex_container {
  text-align: center;
  min-height: 300px;
  border-radius: 10px;
  background-color: var(--background-color);
  flex-direction: column !important;
}

.flex_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.item-center {
  justify-content: center;
}
.list_itemtemp {
  color: var(--danger-color);
  box-shadow: inset 0 -15px 20px -10px rgba(var(--danger-color-rgb), 0.5),
    inset 0 -15px 20px -15px rgba(var(--danger-color-rgb), 1);
  font-size: 1.25rem;
  margin-right: 30px;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--light-color);
}
.list .list_itemtemp {
  width: 60px;
  height: 60px;
}

.grid .list_itemtemp {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 1.6rem;
  margin: 0 20px 10px;
}

.empty {
  margin: 5px;
  font-weight: 500;
  color: var(--medium-color-shade);
}
.list_temp {
  font-weight: 500;
  margin-right: 30px;
  font-size: 1.5rem;
}
.grid .list_temp {
  width: 100%;
  padding: 5px 20px;
}

.text_icon {
  color: var(--danger-color);
  font-size: 1.25rem;
}

.grid .list_buttons {
  width: 100%;
  padding: 10px 20px 0;
  margin-top: 10px;
  border-top: 1px solid var(--light-color);
  justify-content: flex-end;
}

.list_buttons button {
  color: var(--secondary-color);
  background-color: rgba(var(--secondary-color-rgb), 0.1);
  border: 1px solid transparent;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: inherit;
}
.list_buttons button.del {
  color: var(--danger-color);
  background-color: rgba(var(--danger-color-rgb), 0.1);
}
.list_buttons button:hover {
  border-color: var(--secondary-color);
}
.list_buttons button.del:hover {
  border-color: var(--danger-color);
}
