.modal_con {
  z-index: 1005;
  background: transparent;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.modal {
  position: fixed;
  width: 100%;
  visibility: hidden;
  height: 100vh;
  opacity: 0;
  overflow-y: auto;
  padding-top: 40px;
  background-color: rgba(var(--primary-color-rgb), 0.1);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}
